{% layout "theme.express.product" %}


{% assign base_handle = product.handle | replace: '-button-down', '' | replace: '-cutaway', '' | replace: '-semi', '' | replace: '-mod', ''%}
{% assign base_handle = base_handle | replace: '-french', '' | replace: '-barrel', '' %}

  <section ng-controller="AutoSizeLoadURLController"></section>
  <div ng-controller="ShirtController" class='shirt-products'>
    <section class="content express-checkout" ng-cloak>
      
    <div ng-show="collarCuff.matches(undefined, undefined)">
 		{% include 'express-product' %}
    </div>
      
    <div ng-show="sizingStep" ng-click="changeSizingStep(undefined)" class="active" id="sizing-modal-background"></div>

    <style>
      .product-details-wrapper .single-option-selector {
        visibility: visible;
      }
    </style>

    {% assign styleCuffs = "barrel,barrel,french,barrel,french,barrel,french" | split: ',' %}
    {% assign styleCollars = "button-down,cutaway,cutaway,semi,semi,mod,mod" | split: ',' %}
    {% assign styles = "-button-down-barrel,-cutaway-barrel,-cutaway-french,-semi-barrel,-semi-french,-mod-barrel,-mod-french" | split: ',' %}
     
    {% for style in styles %}
      {% assign handle = base_handle | append: style %}
      {% assign product = all_products[handle] %}
      <div ng-show="collarCuff.matches('{{styleCollars[forloop.index0]}}', '{{styleCuffs[forloop.index0]}}')"> 
        {% include 'express-product', product: product %}
      </div>
	{% endfor %}
      
      {% include 'express-checkout-js' %}
 
    </section>
  </div>