{% assign base_product = product %}
{% assign base_handle = product.handle | replace: '-button-down', '' | replace: '-cutaway', '' | replace: '-semi', '' | replace: '-mod', ''%}
{% assign base_handle = base_handle | replace: '-french', '' | replace: '-barrel', '' %}

  <section ng-controller="AutoSizeLoadURLController"></section>
  <div ng-controller="ShirtController" class='shirt-products'>
    <section class="content express-checkout" ng-cloak>

    <div ng-show="sizingStep" ng-click="changeSizingStep(undefined)" class="active" id="sizing-modal-background"></div>

    <style>
      .product-details-wrapper .single-option-selector {
        visibility: visible;
      }
    </style>

    {% assign styleCollars = "button-down,cutaway,cutaway,semi,semi,mod,mod" | split: ',' %}
    {% assign styleCuffs = "barrel,barrel,french,barrel,french,barrel,french" | split: ',' %}

    {% assign styles = "-button-down-barrel,-cutaway-barrel,-cutaway-french,-semi-barrel,-semi-french,-mod-barrel,-mod-french" | split: ',' %}

    {% for style in styles %}
      {% assign handle = base_handle | append: style %}
      {% assign pro = all_products[handle] %}
      <div ng-show="collarCuff.matches('{{styleCollars[forloop.index0]}}', '{{styleCuffs[forloop.index0]}}')">
        {% include 'product-shirt', product: pro, base_product: base_product %}
      </div>
	  {% endfor %}

    </section>
  </div>
