<script>
$(document).ready(function(){

  var fb_code_1 = 'fbq("track", "CompleteRegistration");';
  var fb_code_2 = $('<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6022030958956&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1"/>');
  
  var ga_code_1 = '/*<!-- Google Code for Email Captures Conversion Page -->*/ /* <![CDATA[ */'+
                  'var google_conversion_id = 988929697;var google_conversion_language = "en";var google_conversion_format = "2";'+
                  'var google_conversion_color = "ffffff";var google_conversion_label = "9FczCLzLxlkQob3H1wM";'+
                  'var google_remarketing_only = false;/* ]]> */';
  var ga_code_2 = '<div style="display:inline;">'+
                  '<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/988929697/?label=9FczCLzLxlkQob3H1wM&amp;guid=ON&amp;script=0"/>'+
                  '</div>';


  if (location.search.indexOf('submissionGuid=') > -1) {
  	console.log("form submitted"); 
    loadFBEmailConversion();
    loadGAEmailConversion();
  }
  
  function loadFBEmailConversion() {
    $("body").append($("<script />", {
      html: fb_code_1
    }));
  }
  
  function loadGAEmailConversion() {
    $("body").append($("<script />", {
      html: ga_code_1
    }));
    $("body").append($('<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">'));
    $("body").append($("<noscript />").html(ga_code_2));
  }
});
</script>