<!-- Footer
============================================= -->
<div class="container">
  
<footer class="main-footer content-area" id="main-footer">
  
  <section class="footer-contact">
    <section class="contact-option">
      <img src="https://cdn.shopify.com/s/files/1/0434/4097/files/email-icon.png?9088">
      <span><a href="mailto:questions@stantt.com" target=_"blank">QUESTIONS@STANTT.COM</a></span>
    </section><!-- end contact-option -->
    
    <section class="contact-option">
      <img src="https://cdn.shopify.com/s/files/1/0434/4097/files/phone-icon.png?9088">
      <span>1-800-556-3695</span>
    </section><!-- end contact-option -->
  </section><!-- end footer-contact -->
    
</footer><!-- end main-footer -->

</div><!-- end container -->

<section class="sub-footer-links">
  <p class="copyright">COPYRIGHT 2014 STANTT LLC</p>
    <!--
  	<a href="#" target="_blank">PRIVACY POLICY</a>
    <a href="#" target="_blank">TERMS &amp; CONDITIONS</a>
    <a href="#" target="_blank">RETURN POLICY</a>
	-->
</section><!-- end sub-footer-links -->
  
